### 연산자의 종류

1. 산술 연산자 +   -   *   /   //   %
2. 지수 연산자 **
3. 대입(복합)연산자  =   +=   -=   *=   /=   //=   %=
4. 관계(비교) 연산자 : 두 수를 비교하여 참 또는 거짓을 반환.  >    >=   <   <=   ==   !=
5. 논리 연산자 : 조건문을 연결하기 위해 사용.  and or not
6. 멤버 연산자 : 해당 값이 대상 객체에 존재하는지 확인하기 위해 사용.  in   not in
6. 삼항 연산자 a if 조건식 else b

In [6]:
# 산술연산자
# 나누기(/), 나머지(%), 몫(//) 구하기

num1 = 10
num2 = 7


# :.2f → 소수점 2째자리까지만 출력, 알아서 반올림
# 포맷팅에서만 사용가능
print(f"나누기 : {num1/num2 : .2f}")
print(f"나머지 : {num1%num2}")
print(f"몫 : {num1//num2}")

나누기 :  1.43
나머지 : 3
몫 : 1

- 문자열 더하기

In [10]:
str1 = '안녕'
str2 = '하세요~'
print(str1 + str2) # 문자열 더하기
print(str1, str2, sep='') # 문자열 이어주기

안녕하세요~
안녕하세요~

In [13]:
num_str1 = '10'
num_str2 = '7'

print(num_str1 + num_str2)

107

In [14]:
# 만약에 숫자와 문자열을 더하게되면?
num1= 10
str1 = "7"
print(num1+str1)
# 에러가 나기 때문에 형변환 필요 - 자료형이 맞지 않기 때문

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [20]:
# 강제 형변환
i_str1 = int(str1)
type(i_str1)
print(num1+i_str1)

17

In [25]:
num1 =23
num2 = 3

print(f"더하기 결과 : {num1+num2}")
print(f"빼기 결과 : {num1-num2}")
print(f"곱하기 결과 : {num1*num2}")
print(f"나누기 결과 : {num1/num2 :.2f}")

더하기 결과 : 26
빼기 결과 : 20
곱하기 결과 : 69
나누기 결과 : 7.67

In [31]:
num = int(input("정수를 입력하세요 >>"))

정수를 입력하세요 >>123

In [32]:
num

123

### 문자를 숫자로 바꾸는 방법

- int(문자열)
- float(문자열)

In [41]:
num1 = int(input("정수를 입력하세요 >> "))
num2 = int(input("정수를 입력하세요 >> "))

print(f"""
더하기 결과 : {num1+num2}
빼기 결과 : {num1-num2}
곱하기 결과 : {num1*num2}
나누기 결과 : {num1/num2 :.2f}""")

정수를 입력하세요 >> 3
정수를 입력하세요 >> 7

더하기 결과 : 10
빼기 결과 : -4
곱하기 결과 : 21
나누기 결과 : 0.43

In [42]:
s = 'x'
print(s*10)

xxxxxxxxxx

In [43]:
s = '안녕하세요\n'
print(s*10)

안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요

- 지수 연산자(기호:**)
    - 제곱

In [49]:
# 숫자 2의 3제곱을 해보자
2**3

8

In [50]:
# 키보드로 입력을 받아 지수연산을 실행해보자
# 1. 정수값 입력받기
# 2. 지수값 입력받기

a = int(input("정수 입력 >> "))
b = int(input("지수 입력 >> "))

print(f"{a}의 {b}승은 {a**b}입니다.")

정수 입력 >> 2
지수 입력 >> 3
2의 3승은 8입니다.

In [54]:
a= 3
b =7
a,b = b,a

print(f"a : {a}")
print(f"b : {b}")

a : 7
b : 3

In [55]:
print(a == b)

False

In [58]:
import random as rd

In [335]:
a = rd.randint(1,10) # 랜덤함수는 끝값을 포함한다!
b = rd.randint(1,10)
print(f"""a : {a}
b : {b}

a < b : {a < b}
a > b : {a > b}
a == b : {a == b}
a != b : {a != b}""")

a : 10
b : 2

a < b : False
a > b : True
a == b : False
a != b : True

### 논리 연산자
- True, False의 논리값(boolean값)을 "반환"하는 연산자
- not 연산자

In [339]:
a = 3
b = 7
print(f"""a < b : {a<b}
a < b : {not a<b}""")

a < b : True
a < b : False

- and 연산자
    - 두 조건이 모두 참(True)인 경우 참(True)으로 반환!

In [343]:
print(3<5)
print(10<20)

print(3<5 and 10 <20)

True
True
True

- or 연산자
    - 두 조건이 하나라도 참(True)이면 참 반환

In [345]:
print(3<5)
print(10>20)

print(3<5 or 10 >20)

True
False
True

In [346]:
str1 = "김군순 최고"

"김군순" in str1

True

In [347]:
"김군순" not in str1

False

In [349]:
list1 = [ 1, 33, 53]

In [350]:
33 in list1

True

In [352]:
33 not in list1

False

In [355]:
a = True
b = False
a if 3>10 else b

False

### 삼항연산자
- a if 조건식 else b
- a는 참일때 실행, b는 거짓일때 실행

In [356]:
score = 80
"합격" if score >= 60 else"불합격"

'합격'

In [358]:
"김군순 최고" if "김군순" in str1 else"김군순 바보"

'김군순 최고'

In [364]:
a = int(input("정수 입력 >> "))
b = int(input("정수 입력 >> "))

print(f"a : {a}") if a >b else print(f"b : {b}")

정수 입력 >> 3
정수 입력 >> 10
b : 10

In [367]:
a = int(input("첫 번째 정수 입력 >> "))
b = int(input("두 번째 정수 입력 >> "))

print(f"두 수의 차 : {a-b}") if a >b else print(f"두 수의 차 : {b-a}")

첫 번째 정수 입력 >> 3
두 번째 정수 입력 >> 4
두 수의 차 : 1

In [372]:
a = int(input("정수 입력 >> "))
print(f"{a}는(은) 짝수입니다.") if a%2 == 0 else print(f"{a}는(은) 홀수입니다.")

정수 입력 >> 22
22는(은) 짝수입니다.